@tailwind base;
@tailwind components;
@tailwind utilities;

.rotate-title {
    transform: rotate(90deg);
    transform-origin: left top;
    display: inline-block;
    margin-left: 1rem;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.bgt{
    background: rgba(255, 255, 255, 0.24);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(0px);
    -webkit-backdrop-filter: blur(0px);
}